# =====================================
# NIMR BOT ENVIRONMENT VARIABLES
# =====================================

# Owner
OWNER_NAME=TOPFEROS TECH
OWNER_NUMBER=509XXXXXXXX

# Bot
BOT_NAME=Nimr Bot
PREFIX=.

# Website
PORT=3000

# AI API (mete kle API ou pita)
OPENAI_API_KEY=
GEMINI_API_KEY=

# Database
MONGODB_URI=

# Session
SESSION_ID=

# Dashboard
USERNAME=admin
PASSWORD=admin123

# Timezone
TZ=America/Port-au-Prince
